<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
    <configuration>
        <property>
            <name>fs.default.name</name>
            <value>hdfs://{{NODE_MASTER}}:{{NODE_MASTER_PORT}}</value>
        </property>

        <property>
            <name>hadoop.tmp.dir</name>
            <value>{{HADOOP_TMP}}</value>
        </property>

        <!-- The following setting affects how users are mapped to groups.
        If submitting jobs from a machine other than the master node, add the submitter machine's user name here
        and assign to the supergroup. This is not the optimal security setting and should not be used like this in
        production.
        -->
        <property>
            <name>hadoop.user.group.static.mapping.overrides</name>
            <value>cachengo=supergroup;rec=supergroup</value>
        </property>
    </configuration>
