<configuration>
    
    <property>
        <name>yarn.app.mapreduce.am.resource.memory-mb</name>
        <value>{{MAX_MEMORY}}</value>
    </property>

    <property>
        <name>mapreduce.map.resource.vcores</name>
        <value>4</value>
    </property>

    <property>
        <name>mapreduce.reduce.resource.vcores</name>
        <value>4</value>
    </property>


    <property>
        <name>yarn.app.mapreduce.am.resource.vcores</name>
        <value>4</value>
    </property>

    

</configuration>